.DS_Store

#iOS
example/ios/exampleLocalNotifications.xcodeproj/xcuserdata/*
example/ios/exampleLocalNotifications.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova.js
!example/ios/www/cordova_plugins.js
!example/ios/www/phonegap/plugin/localNotification/localNotification.js

#Android
example/android/bin/*
example/android/gen/*
example/android/.classpath
example/android/local.properties
*.iml
*.idea
example/android/build/*
example/android/out/*

