<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="jp.wizcorp.phonegap.plugin.localNotificationPlugin"
    version="2.1.0">

    <name>Local Notification Plugin</name>
    
    <description>This plugin allows you to add, queue, cancel by id and cancel all local notifications.</description>
    
    <author>Ally Ogilvie - aogilvie@wizcorp.jp</author>
    
    <keywords>local, notification, notifications</keywords>
	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <license>MIT</license>

    <js-module src="www/phonegap/plugin/localNotification/localNotification.js" name="localNotificationPlugin" target="phonegap/plugin/localNotification/localNotification.js">
        <clobbers target="window.localNotification" />
    </js-module>

    <!-- android -->
    <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
		<feature name="LocalNotification" >
			<param name="android-package" value="jp.wizcorp.phonegap.plugin.localNotification.LocalNotification"/>
		</feature>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
    	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    	<uses-permission android:name="android.permission.VIBRATE" />
    </config-file>   
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
    	<receiver android:name="jp.wizcorp.phonegap.plugin.localNotification.AlarmReceiver" ></receiver>
    	<receiver android:name="jp.wizcorp.phonegap.plugin.localNotification.AlarmRestoreOnBoot" >
	    	<intent-filter>
	        	<action android:name="android.intent.action.BOOT_COMPLETED" />
        	</intent-filter>
    	</receiver>
    </config-file>

    <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/localNotification/LocalNotification.java" 
            target-dir="src/jp/wizcorp/phonegap/plugin/localNotification"/>
    <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/localNotification/AlarmHelper.java" 
            target-dir="src/jp/wizcorp/phonegap/plugin/localNotification"/> 
            <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/localNotification/AlarmOptions.java" 
            target-dir="src/jp/wizcorp/phonegap/plugin/localNotification"/> 
            <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/localNotification/AlarmReceiver.java" 
            target-dir="src/jp/wizcorp/phonegap/plugin/localNotification"/> 
            <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/localNotification/AlarmRestoreOnBoot.java" 
            target-dir="src/jp/wizcorp/phonegap/plugin/localNotification"/> 
    </platform>
    
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
        	<feature name="LocalNotification">
                <param name="ios-package" value="LocalNotification"/>
                <param name="onload" value="true" />
            </feature>
        	<plugin name="LocalNotification" value="LocalNotification"/>
        </config-file>
               
        <!-- Plugin files -->
        <header-file src="platforms/ios/HelloCordova/Plugins/LocalNotification/LocalNotification.h" />
        <source-file src="platforms/ios/HelloCordova/Plugins/LocalNotification/LocalNotification.m" compiler-flags="-fno-objc-arc" />

        <!-- Custom Logger -->
        <header-file src="platforms/ios/HelloCordova/Plugins/LocalNotification/WizDebugLog.h"
        	target-dir="WizCanvas" />

    </platform>
    
    <license>MIT</license>

</plugin>
